*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;    
    color: white;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 26px 56px;  
    position: absolute;
    z-index: 5;
    width: 100%;
}

header .logo svg{
    fill: #e50914;
    height: 38px;
}

.langandbutton{
    text-align: right;
}

.button{
    background-color:#e50914;
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
    display: inline;
}

header select{
    background: transparent;
    color: white;
    padding: 6px 0px 6px 20px;
    border-radius: 3px;
}

header select option{
    background: #aaa;
}

.globeicon svg{
    height: 20px;
    fill: white;
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
}

.globeicon{
    display: inline-block;
    margin-right: 29px;
}

div.backimg div.background img{
    max-width: 100%;
    opacity: 0.6;
}

.backimg {
    position: relative;
}

div.backimg div.gradient{
    /* background: rgba(0,0,0,.4); */
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    position: absolute;
    inset: 0;
}

.content{
    position: absolute;
    max-width: 700px;
    
    margin-left: 290px;
    inset: 0;
    display: grid;
    align-items: center;
    text-align: center;
}

.backimg h1{
    font-size: 3.125rem;
    font-weight: 600;
}
.backimg h2{
    margin-top: 14px;
    margin-bottom: 30px;
    font-size: 1.625rem;
}
.backimg h3{
    font-size: 1.2rem;
    margin-bottom: 29px;
}

.form-email{
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
}

.backimg input{
    padding: 15px 15px;
    font-size: 1.2rem;
    width: 100%;
}

.backimg input ~ span{
    position: absolute;
    transition:  all 0.3s ease;
    left: 15px;
    top: 15px;
    z-index: 3;
    color:#aaa;
    pointer-events: none;
}
.backimg input:focus ~ span{
    top:2px;
    font-size: 0.9rem;
}
.backimg input:focus{
    padding-top: 15px;
    padding-bottom: 15px;
}
.backimg button{
    font-size: 1.625rem;
    font-weight: bold;
    padding: 11.5px 20px;
    background-color: #e50914;;
    color: white;
    border: 0;
}
.foursec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 70px 35px; 
    align-items: center;
    border-top: 8px solid #222;
}
<!-- TOP LEFT-->
.text h1{
    font-size: 3.125rem;
    margin-bottom: 8px;
}
.text p{
    font-size: 1.625rem;
}
.media{
    position: relative;
}
.media.tv-sec img{
    width: 400px;

}
.media.tv-sec video{
    position: absolute;
    top:60px;
    left: 50px;
    width: 300px;
        
}
section:nth-child(even) .text{
    order: 2;
}

img{
    max-width: 100%;
}
.downloading{
    border: 2px solid #666;
    background-color: black;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    height: 95px;
    width: 390px;
    left: 50%;
    margin-left: -195px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    position: absolute;
    bottom: 20px;
}

section div.downloading img{
    height: 80px;
    width: auto;
}

.media.device-sec img{
    width: 400px;
    position: relative;
    z-index: 5;
}
.media.device-sec video{
    position: absolute;
    top:30px;
    left: 77px;
    width: 240px;
        
}
section.kids{
    border-bottom: 8px solid #222;
}

.faqhead{
    font-size: 3.125rem;
    text-align: center;
}

.accordion-body{
    background: #303030;
} 

footer a{
    color: #737373;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


#sel-language{
    background: transparent;
    color: #999;;
    padding-right: 5px;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 3px;
    font-size: 17px;
}

#sel-language option{
    background: black;
}
.globe svg{
    height: 40px;
    fill: #999;;
    position: absolute;
    margin-top: 8px;
    margin-left: 15px;
}

footer div.container div.row {
    padding-bottom: 20px;
    font-size: 13px;
}